.about {
    background-image: linear-gradient(
        to bottom,
        var(--color-grey-900),
        var(--color-grey-800)
    );
    padding: var(--size-8) 0;
}

.about h1 {
    text-align: center;
    font-size: var(--size-16);
    margin: var(--size-4) 0;
    color: var(--color-grey-300);
}

.about p {
    text-align: auto;
    font-size: var(--size-6);
    color: var(--color-grey-200);
    width: 90%;
    max-width: 40rem;
    margin: auto;
}

.social {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    padding: 0;
    gap: 5rem;
}

.social img {
    align-content: center;
}

@media (max-width: 768px) {
    .about h1 {
        font-size: var(--size-8);
    }
    .about p {
        font-size: var(--size-6);
    }
    .social {
        gap: 2rem;
    }
}